<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WFM Application Test Automation Test Suite">

	

	<test name="WFM App Test Cases">
		<classes>
			<class name="com.wfm.qa.wfmtestcases.SigninPageTest"></class>
			<class name="com.wfm.qa.wfmtestcases.HomePageTest"></class>
			<class name="com.wfm.qa.wfmtestcases.ProjectPageTest"></class>

		</classes>
	</test>
</suite>